<div class="element-wrapper">
  <h6 class="element-header"><%= t('.section') %></h6>
  <%= render 'shared/notices' %>
  <div class="padded-lg">
    <div class="element-box">
      <h5 class="form-header"><%= t('.header') %></h5>
      <div class="form-desc"><%= t('.description') %></div>
      <div class="table-responsive">
        <table class="table table-lightborder">
          <thead>
            <tr>
              <th><%= t('memberships.singular') %></th>
              <th><%= t('roles.header') %></th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody data-model="Membership" data-scope="current">
            <% @memberships.current_and_invited.each do |membership| %>
              <tr data-id="<%= membership.id %>">
                <td class="profile-photos">
                  <%= link_to [:account, membership], class: 'link-with-specific-underline' do %>
                    <%= image_tag membership_profile_photo_url(membership), title: membership.label_string, class: 'mr-2' %>
                    <span><%= membership.label_string %></span>
                  <% end %>
                  <% if membership.unclaimed? %>
                    <span class="badge badge-success-inverted ml-1">Invited</a>
                  <% end %>
                </td>
                <td>
                  <% if membership.roles.any? %>
                    <%= membership.roles.order(:display_order).map { |role| t("roles.labels.#{role.key}") }.to_sentence %>
                  <% else %>
                    <%= t("roles.labels.none") %>
                  <% end %>
                </td>
                <td class="text-right">
                  <%= link_to t('.buttons.show'), [:account, membership], class: 'btn btn-link btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to t('invitations.buttons.new'), new_account_team_invitation_path(@team, cancel_path: account_team_memberships_path(@team)), class: 'btn btn-primary' %>

      </div>
    </div>

    <% if @memberships.tombstones.any? %>
    <div class="element-box">
      <h5 class="form-header"><%= t('.header_tombstone') %></h5>
      <div class="form-desc"><%= t('.description_tombstone') %></div>
      <div class="table-responsive">
        <table class="table table-lightborder">
          <thead>
            <tr>
              <th><%= t('memberships.singular') %></th>
              <th><%= t('roles.header') %></th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody data-model="Membership" data-scope="tombstones">
            <% @memberships.tombstones.each do |membership| %>
              <tr data-id="<%= membership.id %>">
                <td class="profile-photos">
                  <%= link_to [:account, membership], class: 'link-with-specific-underline' do %>
                    <%= image_tag membership_profile_photo_url(membership), title: membership.label_string, class: 'mr-2' %>
                    <span><%= membership.label_string %></span>
                  <% end %>
                </td>
                <td>
                  <% if membership.roles.any? %>
                    <%= membership.roles.order(:display_order).map { |role| t("roles.labels.#{role.key}") }.to_sentence %>
                  <% else %>
                    <%= t("roles.labels.none") %>
                  <% end %>
                </td>
                <td class="text-right">
                  <%= link_to t('.buttons.reinvite'), [:reinvite, :account, membership], class: 'btn btn-link btn-sm', method: :post, data: {confirm: t('.buttons.confirmations.reinvite', membership_name: membership.name)} if can? :edit, membership %>
                  <%= link_to t('.buttons.show'), [:account, membership], class: 'btn btn-link btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>

</div>
