<%= form_with model: [:account, team], local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <%= render 'shared/fields/text_field', form: form, method: :name, options: {autofocus: true} %>
  <%# 🚅 super scaffolding will insert new fields above this line. %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <%= link_to t('global.buttons.cancel'), form.object.persisted? ? [:account, team] : [:account, :teams], class: "button-secondary" %>
  </div>
<% end %>
