<% @title = t('teams.new.header') %>
<div class="all-wrapper menu-side with-pattern">
  <div class="auth-box-w wider">
    <%= render 'devise/shared/logo' %>
    <h4 class="auth-header">
      <% if current_user.former_user? && current_user.teams.none? %>
        <%= t('teams.new.former_user_header') %>
      <% else %>
        <%= t('teams.new.header') %>
      <% end %>
    </h4>
    <%= form_for([:account, @team]) do |f| %>
      <%= render 'account/shared/notices' %>
      <%= render 'account/shared/forms/errors', form: f %>

      <% if current_user.former_user? && current_user.teams.none? %>

        <div class="alert alert-warning"><%= raw t('.alert', user_email: current_user.email) %></div>
        <p><%= t('.you_can') %></p>

        <h6 class="mt-4"><%= t('.invitation_header') %></h6>
        <p><%= t('.invitation') %></p>

        <h6 class="mt-4"><%= t('.logout_header') %></h6>
        <p><%= t('.log_out') %></p>
        <%= link_to t('menus.main.labels.logout'), main_app.destroy_user_session_path, class: 'btn btn-sm btn-primary', method: 'delete' %></p>

        <h6 class="mt-4"><%= t('.new_team_header') %></h6>

      <% end %>

      <% if invited? || !invitation_only? %>

      <%= render 'shared/fields/text_field', form: f, method: :name, options: {autofocus: true} %>
      <div class="buttons-w">
        <%= f.submit t('.buttons.create'), class: "btn btn-primary" %>
        <% if current_user.teams.select(&:persisted?).count > 0 %>
          <%= link_to t('global.buttons.back'), account_teams_path, class: 'btn btn-link' %>
        <% end %>
      </div>

      <% else %>

        <% if current_user.former_user? && current_user.teams.none? %>
          <p><%= t('teams.notifications.invitation_only') %></p>
        <% else %>
          <p class="alert alert-warning"><%= t('teams.notifications.invitation_only') %></p>
          <div class="buttons-w">
            <% if current_user.teams.any? %>
            <%= link_to t('global.buttons.back'), main_app.account_teams_path, class: "btn #{first_btn_primary}" %>
            <% else %>
            <%= link_to t('menus.main.labels.logout'), main_app.destroy_user_session_path, class: "btn #{first_btn_primary}", method: 'delete' %>
            <% end %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
