<%
@title = if current_user.former_user? && current_user.teams.none?
  t('teams.new.former_user_header')
else
  t('teams.new.header')
end
%>

<%= render 'account/shared/workflow/box' do |p| %>
  <% p.content_for :title, @title %>
  <% p.content_for :body do %>
    <%= form_with model: @team, url: [:account, @team], local: true, class: 'form' do |form| %>
      <%= render 'account/shared/notices' %>
      <%= render 'account/shared/forms/errors', form: form %>

      <% if current_user.former_user? && current_user.teams.none? %>

        <%= render 'account/shared/alert' do %>
          <%= raw t('.alert', user_email: current_user.email) %>
        <% end %>

        <p><%= t('.you_can') %></p>

        <div class="space-y-3">
          <h3 class="text-lg leading-5 font-semibold"><%= t('.invitation_header') %></h3>
          <p><%= t('.invitation') %></p>
        </div>

        <%= render 'account/shared/decision_line' %>

        <div class="space-y-3">
          <h3 class="text-lg leading-5 font-semibold"><%= t('.logout_header') %></h3>
          <p><%= t('.log_out') %></p>
        </div>

        <%= link_to t('menus.main.labels.logout'), main_app.destroy_user_session_path, class: 'button-alternative full', method: 'delete' %></p>

        <%= render 'account/shared/decision_line' %>

        <% # this is weird, but it's closed below where commented. %>
        <div class="space-y-3">
        <h3 class="text-lg leading-5 font-semibold"><%= t('.new_team_header') %></h3>

      <% end %>

      <% if invited? || !invitation_only? %>

        <%= render 'shared/fields/text_field', form: form, method: :name, options: {autofocus: true} %>
        <%= render 'shared/fields/super_select', form: form, method: :time_zone, choices: time_zone_options_for_select(current_user.time_zone, nil, ActiveSupport::TimeZone) %>
        <%# 🚅 super scaffolding will insert new fields above this line. %>

        <div class="buttons">
          <% other_teams = current_user.teams.select(&:persisted?).count > 0 %>
          <%= form.submit t('.buttons.create'), class: "button #{'full' unless other_teams}" %>
          <% if other_teams %>
            <%= link_to t('global.buttons.back'), account_teams_path, class: 'button-secondary' %>
          <% end %>
        </div>

      <% else %>

        <% if current_user.former_user? && current_user.teams.none? %>
          <p><%= t('teams.notifications.invitation_only') %></p>
        <% else %>
          <%= render 'account/shared/alert' do %>
            <%= t('teams.notifications.invitation_only') %>
          <% end %>

          <div class="buttons">
            <% if current_user.teams.any? %>
              <%= link_to t('global.buttons.back'), main_app.account_teams_path, class: first_button_primary %>
            <% else %>
              <%= link_to t('menus.main.labels.logout'), main_app.destroy_user_session_path, class: first_button_primary, method: 'delete' %>
            <% end %>
          </div>
        <% end %>

      <% end %>

      <% # this is weird, but it's opened above where commented. %>
      <% if current_user.former_user? && current_user.teams.none? %>
        </div>
      <% end %>

    <% end %>

  <% end %>
<% end %>
