<div class="fade1">
</div>
<div class="desktop-menu menu-top-w menu-activated-on-hover">
  <div class="menu-top-i os-container">
    <% unless request.path == main_app.root_path %>
    <div class="logo-w">
      <div class="logo-element">
        <a href="/"><%= image_tag image_path('logo/logo.png'), width: image_width_for_height('logo/logo.png', 32), height: 32 %></a>
      </div>
    </div>
    <% end %>
    <ul class="main-menu">
      <li class="<%= 'active' if request.path == main_app.root_path %>">
        <%= link_to 'Home', main_app.root_path %>
      </li>
      <% if subscriptions_enabled? %>
        <li class="<%= 'active' if request.path == main_app.pricing_path %>">
          <%= link_to "Pricing#{demo}".html_safe, main_app.pricing_path %>
        </li>
      <% end %>
    </ul>
    <ul class="small-menu">
      <% if user_signed_in? %>
      <li>
        <%= link_to "Logout".html_safe, main_app.destroy_user_session_path, method: 'delete' %>
      </li>
      <li>
        <%= link_to "Dashboard".html_safe, main_app.account_dashboard_path, class: 'highlight' %>
      </li>
      <% else %>
      <li>
        <%= link_to "Login#{demo}".html_safe, main_app.new_user_session_path %>
      </li>
      <% if show_sign_up_options? %>
      <li>
        <%= link_to "Sign Up#{demo}".html_safe, main_app.new_user_registration_path, class: 'highlight' %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <div class="mobile-menu-w menu-mobile">
    <div class="mobile-menu-holder color-scheme-dark menu-and-user">
      <ul class="mobile-menu">
        <li class="<%= 'active' if request.path == main_app.root_path %>">
          <%= link_to 'Home', main_app.root_path %>
        </li>
        <% if subscriptions_enabled? %>
          <li class="<%= 'active' if request.path == main_app.pricing_path %>">
            <%= link_to "Pricing#{demo}".html_safe, main_app.pricing_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Dashboard".html_safe, main_app.account_dashboard_path, class: 'highlight' %>
        </li>
        <li>
          <%= link_to "Logout".html_safe, main_app.destroy_user_session_path, method: 'delete' %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login#{demo}".html_safe, main_app.new_user_session_path %>
        </li>
        <% if show_sign_up_options? %>
        <li>
          <%= link_to "Sign Up#{demo}".html_safe, main_app.new_user_registration_path, class: 'highlight' %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class="mobile-menu-i">
      <div class="mobile-logo-w">
        <div class="logo-element">
        </div>
      </div>
      <div class="mobile-menu-trigger">
        <i class="os-icon os-icon-hamburger-menu-1">
        </i></div>
    </div>
  </div>
</div>
