<% options ||= {} %>

<% if blob.representable? %>
  <%
    image_source = nil
    if blob.content_type == "application/pdf"
      # If it's a PDF, increase the DPI to make the preview image actually readable.
      options[:width] ||= 400
      options[:height] ||= 400
      preview_options = { resize_to_limit: [options[:width], options[:height]] }
      preview_options[:saver] = { dpi: 300 }
      image_source = blob.representation(preview_options)
    else
      image_source = blob
    end
  %>

  <%= link_to url_for(blob), target: "_blank", title: "View original: #{blob.filename}", style: "display: inline-block" do %>
    <%= image_tag image_source, options %>
  <% end %>

<% elsif blob.video? %>
  <video controls="true", width="<%= options[:width] %>", preload="metadata", style="max-width: 100%; height: auto; border-radius: 5px;" >
    <source src="<%= rails_blob_url(blob) %>" type="<%= blob.content_type %>">
  </video>

<% else %>
  <%# Fallback for files that can't be represented as images, like zip files %>
  <div class="file-fallback" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    <%= link_to url_for(blob), target: "_blank", style: "text-decoration: none; color: #007bff;" do %>
      <span style="font-size: 1.5em; margin-right: 10px;">📄</span>
      <span><%= blob.filename %></span>
    <% end %>
  </div>
<% end %>