<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :departments %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: department do %>
  <tr data-id="<%= department.id %>">
    <%= render "shared/tables/checkbox", object: department %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, department] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, department %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, department], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, department %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, department], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(department)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
