<%= render 'account/shared/workflow/box' do |p| %>
  <% p.content_for :title, t('devise.headers.create_account') %>
  <% p.content_for :body do %>
    <% within_fields_namespace(:sign_up) do %>
     <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form'} do |f| %>
       <%= render 'account/shared/notices' %>
       <%= render 'account/shared/forms/errors', form: f %>

       <%= render 'shared/fields/email_field', form: f, method: :email, options: {autofocus: true} do %>
         <% content_for :help do %>
           <%= link_to t('devise.links.have_account'), new_user_session_path %>
         <% end %>
       <% end %>

       <div class="grid grid-cols-2 gap-5">
         <div>
           <%= render 'shared/fields/password_field', form: f, method: :password %>
         </div>
         <div>
           <%= render 'shared/fields/password_field', form: f, method: :password_confirmation, other_options: {error: f.object.errors.full_messages_for(:password).first, hide_custom_error: true} %>
         </div>
       </div>

       <%= f.submit t('global.buttons.sign_up'), class: 'button full' %>

       <%= render 'devise/shared/oauth', verb: 'Sign Up' %>
     <% end %>
   <% end %>
  <% end %>
<% end %>
