<% resource ||= form.object %>
<% attributes ||= {} %>
<% icon ||= nil %>
<% field_id = "#{form.object.class.name.underscore}_#{attribute}" %>
<% field_attributes = {multiple: true, class: "form-control select2", id: field_id}.merge(field_attributes || {}) %>
<% if resource.errors[attribute].present? %>
  <% field_attributes[:data] ||= {} %>
  <% field_attributes[:data][:error] = resource.errors[attribute].to_sentence %>
<% end %>
<div class="form-group <%= 'has-error has-danger' if resource.errors[attribute].present? %>">
  <%= form.label attribute, field_attributes[:label], for: field_id %>
  <% if block_given? && yield.try(:strip).present? %>
  <%= yield %>
  <% else %>
  <%= form.select attribute, options, {}, field_attributes %>
  <% end %>
  <% if resource.errors[attribute].present? || block_given? %>
  <div class="help-block form-text <%= resource.errors[attribute].present? ? 'with-errors' : 'text-muted' %> form-control-feedback">
    <% if resource.errors[attribute].present? %>
    <%= resource.class.human_attribute_name(attribute) %> <%= resource.errors[attribute].to_sentence %>.
    <% end %>
    <% if block_given? && content_for?(:help) %>
    <%= yield :help %>
    <% end %>
  </div>
  <% end %>
  <% if icon %>
  <div class="pre-icon os-icon <%= icon %>">
  </div>
  <% end %>
</div>
