<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :webhooks_outgoing_endpoints %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description") %>
  <% end %>

  <% p.content_for :table do %>
    <% if endpoints.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <th><%= t('.fields.url.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% endpoints.each do |endpoint| %>
            <% with_attribute_settings object: endpoint do %>
              <tr data-id="<%= endpoint.id %>">
                <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, endpoint] %></td>
                <td><%= render 'shared/attributes/code', attribute: :url %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, endpoint %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, endpoint], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, endpoint %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, endpoint], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(endpoint)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == team %>
        <% if can? :create, Webhooks::Outgoing::Endpoint.new(team: team) %>
          <%= link_to t('.buttons.new'), [:new, :account, team, :webhooks_outgoing_endpoint], class: "#{first_button_primary(:webhooks_outgoing_endpoint)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:webhooks_outgoing_endpoint)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
