<%= form_with model: [:account, (@user unless stripe_account.persisted?), stripe_account], local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <%= render 'account/shared/alert' do %>
    There are no configurable settings for this Stripe accounts by default, but you might want to add some!
  <% end %>

  <%# 🚅 super scaffolding will insert new fields above this line. %>

  <div class="buttons">
    <%= form.submit 'Save Settings', class: "button" %>
    <%= link_to 'Cancel', [:account, stripe_account], class: "button-secondary" %>
  </div>
<% end %>
