<% context ||= @team %>
<% hide_actions ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= raw t(".contexts.#{context.class.name.underscore}.#{stripe_accounts.any? ? 'description' : 'description_empty'}") %>
  <% end %>

  <% p.content_for :body do %>
    <% if stripe_accounts.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% stripe_accounts.each do |stripe_account| %>
          <tr data-id="<%= stripe_account.id %>">
            <td><%= link_to stripe_account.name, [:account, stripe_account] %></td>
            <%# 🚅 super scaffolding will insert new fields above this line. %>
            <td><%= display_date_and_time(stripe_account.created_at) %></td>
            <td class="buttons">
              <% unless hide_actions %>
                <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, stripe_account], class: 'button-secondary button-smaller' if can? :edit, stripe_account %>
                <%= link_to t('.buttons.shorthand.destroy'), [:account, stripe_account], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(stripe_account)) }, class: 'button-secondary button-smaller' if can? :destroy, stripe_account %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <%= link_to t('.buttons.new'), [:new, :account, @team, :oauth_stripe_account], class: 'button' if can? :create, @team.oauth_stripe_accounts.new %>
    <% end %>
  <% end %>
<% end %>
