<div class="element-wrapper">
  <h6 class="element-header"><%= @stripe_account.name %></h6>
  <%= render 'account/shared/notices' %>
  <div class="padded-lg">
    <div class="element-box element-box-show">
      <h5 class="form-header"><%= t('oauth/stripe_accounts.show.header') %></h5>
      <div class="form-desc"><%= t('oauth/stripe_accounts.show.description') %></div>
      <div class="form-group">
        <label class="col-form-label" for="">Name</label>
        <div>
          <%= @stripe_account.name %>
        </div>
      </div>

      <%# 🚅 super scaffolding will insert new fields above this line. %>

      <div class="form-buttons-w">
        <%= link_to t('oauth/stripe_accounts.buttons.edit'), [:edit, :account, @stripe_account], class: "btn #{first_btn_primary}" if can? :edit, @stripe_account %>
        <%= link_to t('global.buttons.back'), [:account, @team, :oauth, :stripe_accounts], class: "btn #{first_btn_primary}" %>
      </div>

    </div>

    <%# 🚅 super scaffolding will insert new children above this line. %>

  </div>
</div>
