<div class="element-wrapper">
  <h6 class="element-header"><%= t('.section') %></h6>
  <%= render 'account/shared/notices' %>
  <div class="padded-lg">
    <div class="element-box">
      <h5 class="form-header"><%= t('.header') %></h5>
      <div class="form-desc"><%= t('.description') %></div>
      <%= render 'form', scaffolding_completely_concrete_tangible_things_reassignment: @scaffolding_completely_concrete_tangible_things_reassignment %>
    </div>
  </div>
</div>
