<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :sites %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: site do %>
  <tr data-id="<%= site.id %>">
    <%= render "shared/tables/checkbox", object: site %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, site] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, site %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, site], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, site %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, site], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(site)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
