<div class="all-wrapper menu-side with-pattern">
  <div class="auth-box-w wider">
    <%= render 'devise/shared/logo' %>
    <h4 class="auth-header"><%= t('devise.headers.change_password') %></h4>
    <% within_fields_namespace(:update_self) do %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%= render 'account/shared/forms/errors', form: f, attributes: [:reset_password_token] %>
      <%= render 'shared/fields/password_field', form: f, method: :password, options: {autofocus: true, autocomplete: "off"}, other_options: {icon: 'os-icon-fingerprint'} %>
      <%= render 'shared/fields/password_field', form: f, method: :password_confirmation, options: {autocomplete: "off"}, other_options: {icon: 'os-icon-fingerprint'} %>
      <div class="buttons-w">
        <%= f.submit t('devise.buttons.change_password'), class: "btn btn-primary" %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
