<% @title = t('devise.headers.change_password') %>
<%= render 'account/shared/workflow/box' do |p| %>
  <% p.content_for :title, @title %>
  <% p.content_for :body do %>
    <% within_fields_namespace(:update_self) do %>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: 'form', html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= render 'account/shared/forms/errors', form: f, attributes: [:reset_password_token] %>
        <%= render 'shared/fields/password_field', form: f, method: :password, options: {autofocus: true, autocomplete: "off"} %>
        <%= render 'shared/fields/password_field', form: f, method: :password_confirmation, options: {autocomplete: "off"} %>
        <div class="buttons">
          <%= f.submit t('devise.buttons.change_password'), class: "button" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
