<% @title = t('.header') %>

<%= render 'account/shared/workflow/box' do |p| %>
  <% p.content_for :title, @title %>
  <% p.content_for :body do %>
    <% within_fields_namespace(:self) do %>
      <%= form_for @user, url: account_onboarding_user_email_path(@user), method: :put, html: {class: 'form'} do |f| %>
        <% if @email_taken %>
          <%= render 'account/shared/alert', color: 'red' do %>
            <%= t('.email_taken') %>
          <% end %>
        <% else %>
          <%= render 'account/shared/alert' do %>
            <%= t('.description') %>
          <% end %>

          <%= render 'account/shared/forms/errors', form: f %>
        <% end %>

        <%= render 'shared/fields/email_field', form: f, method: :email, options: {autofocus: true} %>

        <div class="buttons">
          <%= f.submit t('.buttons.next'), class: first_button_primary %>
          <% if current_user.teams.any? %>
            <%= link_to t('global.buttons.back'), main_app.account_teams_path, class: first_button_primary %>
          <% else %>
            <%= link_to t('menus.main.labels.logout'), main_app.destroy_user_session_path, class: first_button_primary, method: 'delete' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
