<% yield p = np %>

<% divider ||= nil %>
<% no_background ||= false %>
<% title_size ||= "text-xl" %>

<div class="<%= "bg-white rounded-md shadow" unless no_background %> overflow-hidden">
  <div class="py-6 px-8 space-y-2 <%= 'border-b shadow-sm' if divider %>">
    <% if p.content_for? :title %>
      <h2 class="<%= title_size %> font-semibold">
        <%= p.content_for :title %>
      </h2>
    <% end %>

    <% if p.content_for? :description %>
      <p class="text-gray-400 font-light leading-normal">
        <%= p.content_for :description %>
      </p>
    <% end %>
  </div>

  <div class="space-y-4">
    <% if p.content_for? :table %>
      <div class="box-table <%= divider ? 'mt-4' : '-mt-1' %> pb-0.5">
        <%= p.content_for :table %>
      </div>
    <% end %>

    <% if p.content_for?(:body) || p.content_for?(:actions) %>
      <div class="<%= p.content_for?(:body) ? 'py-7' : 'pb-7' %> px-8 space-y-7">
        <% if p.content_for? :body %>
          <div class="space-y-4 <%= '-mt-4' unless divider %>">
            <%= p.content_for :body %>
          </div>
        <% end %>

        <% if p.content_for? :actions %>
          <div class="space-x">
            <%= p.content_for :actions %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if p.content_for? :footer %>
    <div class="py-4 px-8 bg-gray-50 border-t">
      <%= p.content_for :footer %>
    </div>
  <% end %>

  <% if p.content_for? :raw_footer %>
    <div class="bg-gray-50">
      <%= p.content_for :raw_footer %>
    </div>
  <% end %>
</div>
