<%= form_with model: [:admin, application], local: true, class: 'form' do |form| %>
  <%= render 'shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render "admin/applications/fields", application: application, form: form %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <%= link_to t('global.buttons.cancel'), form.object.persisted? ? [:admin, application] : [:admin, :applications], class: "button-secondary" %>
  </div>
<% end %>
