<%= render 'account/shared/page' do |p| %>
  <% p.content_for :title, t('.section') %>
  <% p.content_for :body do %>
    <%= updates_for @creative_concept do %>
      <%= render 'account/shared/box', divider: true do |p| %>
        <% p.content_for :title, t('.header') %>
        <% p.content_for :description, t('.description') %>
        <% p.content_for :body do %>
          <% with_attribute_settings object: @creative_concept, strategy: :label do %>
            <%= render 'shared/attributes/text', attribute: :name %>
            <%= render 'shared/attributes/html', attribute: :description %>
            <%# 🚅 super scaffolding will insert new fields above this line. %>

            <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-3">
              <div class="sm:col-span-1">
                <%= render 'shared/attributes/base' do |p| %>
                  <% p.content_for :heading, t(".fields.admins.heading") %>
                  <% p.content_for :body do %>
                    <%= render 'account/shared/memberships/photos', memberships: (@team.admins + @creative_concept.admins).uniq %>
                  <% end %>
                <% end %>
              </div>

              <% if @creative_concept.editors.any? %>
                <div class="sm:col-span-1">
                  <%= render 'shared/attributes/base' do |p| %>
                    <% p.content_for :heading, t(".fields.editors.heading") %>
                    <% p.content_for :body do %>
                      <%= render 'account/shared/memberships/photos', memberships: @creative_concept.editors %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

              <% if @creative_concept.viewers.any? %>
                <div class="sm:col-span-1">
                  <%= render 'shared/attributes/base' do |p| %>
                    <% p.content_for :heading, t(".fields.viewers.heading") %>
                    <% p.content_for :body do %>
                      <%= render 'account/shared/memberships/photos', memberships: @creative_concept.viewers %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% p.content_for :actions do %>
          <%= link_to t('.buttons.edit'), [:edit, :account, @creative_concept], class: first_button_primary if can? :edit, @creative_concept %>
          <%= button_to t('.buttons.destroy'), [:account, @creative_concept], method: :delete, class: first_button_primary, data: { confirm: t('.buttons.confirmations.destroy', model_locales(@creative_concept)) } if can? :destroy, @creative_concept %>
          <%= link_to t('global.buttons.back'), [:account, @team, :scaffolding_absolutely_abstract_creative_concepts], class: first_button_primary %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'account/scaffolding/completely_concrete/tangible_things/index', tangible_things: @creative_concept.completely_concrete_tangible_things.accessible_by(current_ability), hide_back: true %>

    <% if can? :read, Scaffolding::AbsolutelyAbstract::CreativeConcepts::Collaborator.new(creative_concept: @creative_concept) %>
      <%= render 'account/scaffolding/absolutely_abstract/creative_concepts/collaborators/index', collaborators: @creative_concept.collaborators, hide_back: true %>
    <% end %>

    <%# 🚅 super scaffolding will insert new children above this line. %>
  <% end %>
<% end %>
