<div class="element-wrapper">
  <h6 class="element-header"><%= @delivery_attempt.name %> to Deliver Event <code><%= @delivery.event.short_uuid %></code> to <%= @delivery.endpoint.name %></h6>
  <%= render 'shared/notices' %>
  <div class="padded-lg">
    <div class="element-box element-box-show">
      <h5 class="form-header"><%= t('webhooks/outgoing/delivery_attempts.show.header') %></h5>
      <div class="form-desc"><%= t('webhooks/outgoing/delivery_attempts.show.description') %></div>

      <div class="row">

        <div class="form-group col-md-4">
          <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.created_at.heading') %></label>
          <div>
            <%= display_date_and_time(@delivery_attempt.created_at) %>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.attempt_number.heading') %></label>
          <div>
            <%= @delivery_attempt.attempt_number %>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.successful.heading') %></label>
          <div>
            <%= render 'account/webhooks/outgoing/delivery_attempts/success_indicator', delivery_attempt: @delivery_attempt %>
          </div>
        </div>
      </div>

      <div class="row">

        <% if @delivery_attempt.response_code %>
        <div class="form-group col-md-4">
          <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.response_code.heading') %></label>
          <div>
            <code><%= @delivery_attempt.response_code %></code>
          </div>
        </div>
        <% end %>

        <% if @delivery_attempt.response_message %>
        <div class="form-group col-md-4">
          <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.response_message.heading') %></label>
          <div>
            <%= @delivery_attempt.response_message %>
          </div>
        </div>
        <% end %>

      </div>

      <% if @delivery_attempt.response_body %>
      <div class="form-group">
        <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.response_body.heading') %></label>
        <div>
          <pre class="code-block" style="max-height: 500px;"><%= @delivery_attempt.response_body %></pre>
        </div>
      </div>
      <% end %>

      <% if @delivery_attempt.error_message %>
      <div class="form-group">
        <label class="col-form-label" for=""><%= t('webhooks/outgoing/delivery_attempts.fields.error_message.heading') %></label>
        <div>
          <%= @delivery_attempt.error_message %>
        </div>
      </div>
      <% end %>

      <%# 🚅 super scaffolding will insert new fields above this line. %>

      <div class="form-buttons-w">
        <%= link_to t('global.buttons.edit'), [:edit, :account, @delivery_attempt], class: "btn #{first_btn_primary}" if can? :edit, @delivery_attempt %>
        <%= link_to t('global.buttons.back'), [:account, @delivery, :delivery_attempts], class: "btn #{first_btn_primary}" %>
      </div>

    </div>

    <%# 🚅 super scaffolding will insert new children above this line. %>

  </div>
</div>
