<% mobile ||= false %>
<ul class="main-menu">

  <% if current_team %>
    <% @menu_arr ||= [] %>

    <% unless mobile %>
      <li class="sub-header"><span><%= t('menus.main.labels.resources') %></span></li>
    <% end %>

    <li>
      <%= link_to main_app.account_team_path(current_team) do %>
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span><%= t('menus.main.labels.dashboard') %></span>
      <% end %>
    </li>

    <% # added by super scaffolding. %>
    <%= render 'layouts/account/menus/scaffolding/absolutely_abstract/creative_concepts' unless scaffolding_things_disabled? %>

    <% unless mobile %>
      <li class="sub-header"><span><%= t('menus.main.labels.collaborate') %></span></li>
    <% end %>

    <%= render 'layouts/account/menus/teams', mobile: mobile %>

    <% if any_oauth_enabled? || webhooks_enabled? %>

      <% unless mobile %>
        <li class="sub-header"><span><%= t('menus.main.labels.integrations') %></span></li>
      <% end %>

      <%= render 'layouts/account/menus/oauth/stripe_accounts' if stripe_enabled? %>
      <%# 🚅 super scaffolding will insert new oauth providers above this line. %>

      <% if can? :manage, current_team.webhooks_outgoing_endpoints.new %>
        <li>
          <%= link_to main_app.account_team_webhooks_outgoing_endpoints_path(current_team) do %>
            <div class="icon-w">
              <i class="ti-plug"></i>
            </div>
            <span><%= t('menus.main.labels.webhooks') %></span>
          <% end %>
        </li>
      <% end %>

    <% end %>

  <% end %>

  <% if mobile %>

    <li class="has-sub-menu">
      <%= link_to main_app.edit_account_user_path(current_user.id) do %>
        <div class="icon-w"><i class="os-icon os-icon-layout"></i></div>
        <span><%= t('menus.main.labels.your_account') %></span>
      <% end %>
      <ul class="sub-menu">
        <li><%= link_to t('menus.main.labels.edit_account_details'), main_app.edit_account_user_path(current_user.id) %></li>
        <li><%= link_to t('menus.main.labels.manage_api_keys'), main_app.account_user_api_keys_path(current_user.id) %></li>
        <% if current_user.multiple_teams? %>
        <li><%= link_to t('menus.main.labels.switch_teams'), main_app.account_teams_path %></li>
        <% elsif show_sign_up_options? %>
        <li><%= link_to t('menus.main.labels.add_new_team'), main_app.new_account_team_path %></li>
        <% end %>
      </ul>
    </li>

    <li>
      <%= link_to main_app.destroy_user_session_path, method: 'delete' do %>
        <div class="icon-w"><i class="os-icon os-icon-layout"></i></div>
        <span><%= t('menus.main.labels.logout') %></span>
      <% end %>
    </li>

  <% end %>

</ul>
