<%= form_with model: tangible_thing, url: (tangible_thing.persisted? ? [:account, tangible_thing] : [:account, @absolutely_abstract_creative_concept, :completely_concrete_tangible_things]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%# 🚅 skip this section when scaffolding. %>
    <%= render 'shared/fields/text_field', method: :text_field_value, options: {autofocus: true} %>

    <%= render 'shared/fields/buttons', method: :boolean_button_value %>

    <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-2">
      <div class="sm:col-span-1">
        <%= render 'shared/fields/buttons', method: :button_value %>
      </div>

      <div class="sm:col-span-1">
        <%= render 'shared/fields/buttons', method: :multiple_button_values, multiple: true %>
      </div>
    </div>

    <%= render 'shared/fields/color_picker', method: :color_picker_value, options: t('scaffolding/completely_concrete/tangible_things.fields.color_picker_value.options') %>
    <%= render 'shared/fields/cloudinary_image', method: :cloudinary_image_value %>
    <%= render 'shared/fields/date_field', method: :date_field_value %>
    <%= render 'shared/fields/date_and_time_field', method: :date_and_time_field_value %>
    <%= render 'shared/fields/email_field', method: :email_field_value %>
    <%= render 'shared/fields/file_field', method: :file_field_value %>

    <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-2">
      <div class="sm:col-span-1 pr-0 sm:pr-10">
        <%= render 'shared/fields/options', method: :option_value %>
      </div>

      <div class="sm:col-span-1 pr-0 sm:pr-10">
        <%= render 'shared/fields/options', method: :multiple_option_values, multiple: true %>
      </div>
    </div>

    <%= render 'shared/fields/password_field', method: :password_field_value %>
    <%= render 'shared/fields/phone_field', method: :phone_field_value %>

    <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-2">
      <div class="sm:col-span-1">
        <%= render 'shared/fields/super_select', method: :super_select_value, other_options: {search: true} %>
      </div>

      <div class="sm:col-span-1">
        <%= render 'shared/fields/super_select', method: :multiple_super_select_values, other_options: {search: true}, html_options: {multiple: true}  %>
      </div>
    </div>

    <%= render 'shared/fields/text_area', method: :text_area_value %>
    <%= render 'shared/fields/trix_editor', method: :action_text_value %>
    <%= render 'shared/fields/ckeditor', method: :ckeditor_value %>
    <%# 🚅 stop any skipping we're doing now. %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, tangible_thing], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @absolutely_abstract_creative_concept, :completely_concrete_tangible_things], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
