<% absolutely_abstract_creative_concept = @absolutely_abstract_creative_concept || @creative_concept %>
<% context ||= absolutely_abstract_creative_concept %>
<% collection ||= :completely_concrete_tangible_things %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title do %>
    <%= t(".contexts.#{context.class.name.underscore}.header") %>
  <% end %>

  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description") %>
  <% end %>

  <% p.content_for :body do %>
    <% if tangible_things.any? %>
      <table class="table table-lightborder">
        <thead>
          <tr>
            <%# 🚅 skip this section when scaffolding. %>
            <th><%= t('.fields.text_field_value.heading') %></th>
            <% if false %>
            <th><%= t('.fields.button_value.heading') %></th>
            <th><%= t('.fields.cloudinary_image_value.heading') %></th>
            <th><%= t('.fields.date_field_value.heading') %></th>
            <th><%= t('.fields.email_field_value.heading') %></th>
            <th><%= t('.fields.password_field_value.heading') %></th>
            <th><%= t('.fields.phone_field_value.heading') %></th>
            <th><%= t('.fields.select_value.heading') %></th>
            <th><%= t('.fields.super_select_value.heading') %></th>
            <th><%= t('.fields.text_area_value.heading') %></th>
            <th><%= t('.fields.trix_editor_value.heading') %></th>
            <th><%= t('.fields.ckeditor_value.heading') %></th>
            <% end %>
            <%# 🚅 stop any skipping we're doing now. %>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% tangible_things.each do |tangible_thing| %>
          <tr data-id="<%= tangible_thing.id %>">
            <%# 🚅 skip this section when scaffolding. %>
            <td><%= link_to tangible_thing.text_field_value, [:account, tangible_thing] %></td>
            <% if false %>
            <td><%= tangible_thing.button_value %></td>
            <td><%= tangible_thing.cloudinary_image_value %></td>
            <td><%= tangible_thing.date_field_value %></td>
            <td><%= tangible_thing.email_field_value %></td>
            <td><%= tangible_thing.password_field_value %></td>
            <td><%= tangible_thing.phone_field_value %></td>
            <td><%= tangible_thing.select_value %></td>
            <td><%= tangible_thing.super_select_value %></td>
            <td><%= tangible_thing.text_area_value %></td>
            <td><%= tangible_thing.trix_editor_value %></td>
            <td><%= tangible_thing.ckeditor_value %></td>
            <% end %>
            <%# 🚅 stop any skipping we're doing now. %>
            <%# 🚅 super scaffolding will insert new fields above this line. %>
            <td><%= display_date_and_time(tangible_thing.created_at) %></td>
            <td class="text-right">
              <% unless hide_actions %>
                <% if can? :edit, tangible_thing %>
                  <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, tangible_thing], class: 'btn btn-link btn-sm' %>
                <% end %>
                <% if can? :destroy, tangible_thing %>
                  <%= link_to t('.buttons.shorthand.destroy'), [:account, tangible_thing], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(tangible_thing)) }, class: 'btn btn-link btn-sm' %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == absolutely_abstract_creative_concept %>
        <% if can? :create, Scaffolding::CompletelyConcrete::TangibleThing.new(absolutely_abstract_creative_concept: absolutely_abstract_creative_concept) %>
          <%= link_to t('.buttons.new'), [:new, :account, absolutely_abstract_creative_concept, :completely_concrete_tangible_thing], class: 'button' %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: 'button-secondary' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
