<% @title = t('application.tagline') %>
<div class="intro-w layout-v1" id="sectionIntro">
  <div class="os-container">
    <div class="fade2">
    </div>
    <div class="intro-i">
      <div class="intro-description">
        <h1 class="intro-heading">Bullet Train is a Ruby on Rails <span>SaaS-in-a-Box</span></h1>

        <div class="intro-text">Bullet Train saves you weeks of development by starting you off with all the features that are the same in every SaaS, so you can focus on what makes your app unique.</div>

        <div class="intro-buttons">
          <a class="btn btn-primary" href="<%= subscriptions_enabled? ? pricing_path : new_user_registration_path %>"><i class="ti-shopping-cart-full"></i><span>Buy</span></a>
          <span class="intro-buttons-keep-together">
            <a class="btn btn-link" href="<%= subscriptions_enabled? ? pricing_path : new_user_registration_path %>"><i class="ti-desktop"></i><span>Live Demo</span></a>
            <a class="btn btn-link" href="https://calendly.com/bullettrain/introductions/02-01-2018" target="_blank"><i class="icon-phone"></i><span>Schedule a Call</span></a>
          </span>
        </div>
      </div>
      <div class="intro-media">
        <div class="shot shot1">
          <div class="shot-i" style="background-image: url('<%= image_path('homepage/pricing-small.png') %>')">
          </div>
        </div>
        <div class="shot shot2">
          <div class="shot-i" style="background-image: url('<%= image_path('homepage/sign-up-small.png') %>')">
          </div>
        </div>
        <div class="shot shot3">
          <div class="shot-i" style="background-image: url('<%= image_path('homepage/intro_dash.jpg') %>')">
          </div>
        </div>

        <div class="hidden-md-up" style="margin-bottom: 40px;"></div>

      </div>
    </div>
  </div>
</div>

<% try_it_now = {icon: 'ti-desktop', label: 'Try It Now', url: '/users/sign_in'} %>
<% features = [
  {title: 'Powerful Code Generation', border_classes: 'b-l', icon: 'ti-bolt', description: "We were tired of doing so much gruntwork just to spin up all the CRUD resources that made up our app, so we created Super Scaffolding. Inspired by Rails scaffolds, but does much, much more!", cta: {icon: 'ti-video-camera', label: 'Watch The Demo', url: 'https://twitter.com/andrewculver/status/934251715175395328', offsite: true}},
  {title: 'User Account Management', border_classes: 'b-r b-t', icon: 'os-icon os-icon-fingerprint', description: "Users can sign-up, sign-in, and reset their password using a handtuned installation of the Devise Ruby gem.", cta: try_it_now},
  {title: 'Teams', border_classes: 'b-r', icon: 'icon-people', description: "Team support is a frequently requested feature for many SaaS businesses, but your users will be able to invite teammates to their account from day one.", cta: try_it_now},
  {title: 'Security & Permissions', border_classes: 'b-l', icon: 'icon-lock', description: "We've pre-configured the CanCanCan Ruby gem so users are only able to access the data and features they're supposed to, including only accessing features they've paid for."},
  {title: 'Third-Party Integrations', border_classes: 'b-r', icon: 'icon-social-twitter', description: "We've included pre-baked workflows to allow your users sign up with or integrate after sign-up with Stripe and over a hundred other third-party OAuth provider platforms.", cta: {icon: 'ti-video-camera', label: 'Watch The Demo', url: 'https://twitter.com/bullettrainco/status/971890025762766848', offsite: true}},
  {title: 'Onboarding Workflows', border_classes: 'b-r b-l', icon: 'icon-magic-wand', description: "As part of our default sign-up process, we've included a highly editable onboarding wizard that ensures you can step new customers through their setup process. Nothing magical, it's just Rails code!", cta: try_it_now},
  {title: 'Full Mobile-Responsiveness', border_classes: 'b-l', icon: 'icon-screen-smartphone', description: "Every single page and workflow your app starts out with has already been tested to make sure it's fully responsive and work great on all devices."},
  {title: 'Based on Bootstrap', border_classes: 'b-r b-l', icon: 'icon-wrench', description: "We understand if you're scared of UI templates! So many of them are terrible to work with! But this template is clean, wonderful, and based on the newest Bootstrap, version 4!"},
  {title: 'Complete Test Coverage', border_classes: 'b-r b-l', icon: 'os-icon os-icon-robot-2', description: "So not only did we implement or integrate all of those things, we wrote a full suite of automated integration tests so you can be sure it never breaks.", cta: {icon: 'ti-book', label: 'Read More', url: 'https://twitter.com/andrewculver/status/967466941551058944', offsite: true}},
  {title: 'Future Updates', border_classes: 'b-r', icon: 'os-icon os-icon-grid-18', description: "We've got a really cool system in place to ensure you've got a great way to continue integrating our future improvements to Bullet Train into your own app.", cta: {icon: 'ti-book', label: 'Read More', url: 'https://twitter.com/andrewculver/status/976502048173649920', offsite: true}},
] %>

<div class="section-header-w" id="sectionFeatures">
  <div class="fade3">
  </div>
  <div class="os-container">
    <div class="section-header">
      <h5 class="section-sub-title">Stop recreating the wheel</h5>
      <h2 class="section-title">We'll Bring These Features</h2>
      <div class="section-desc"></div>
    </div>
  </div>
</div>
<div class="features-table">
  <div class="os-container">
    <div class="row no-gutters">

      <% features.each do |feature| %>
      <div class="col-xl-4 col-sm-6 <%= feature[:border_classes] %> feature-cell">
        <div class="feature-icon">
          <i class="<%= feature[:icon] %>">
          </i></div>
        <h6 class="feature-title"><%= feature[:title] %></h6>
        <% if feature[:coming] %>
          <span class="badge badge-primary" style="background-color: #868686; margin-bottom: 10px; text-transform: uppercase;">Coming Soon</span>
        <% end %>
        <div class="feature-text"><%= feature[:description] %></div>
        <% if cta = feature[:cta] %>
          <div class="bottom-aligned-link">
          <%= link_to cta[:url], class: 'btn btn-primary', style: 'margin-top: 20px;', target: ('_blank' if cta[:offsite]) do %>
            <i class="<%= cta[:icon] %>"></i>
            <span><%= cta[:label] %></span>
          <% end %>
          </div>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>

<div class="call-to-action" style="margin-top: 60px;">
  <h3 class="cta-header">Have a question?</h3>
  <div class="cta-desc">Did we leave a question unanswered? Please don't hesitate to email us!</div>
  <div class="cta-btn">
    <a class="btn btn-primary btn-lg btn-rounded" href="mailto:ask@bullettrain.co" target="_blank">
      <span class="hidden-xs-down">Ask a Question &nbsp;</span>
      <span class="hidden-sm-up">Send Email &nbsp;</span>
      <i class=""></i><i class="icon-envelope-letter"></i>
    </a>
  </div>
</div>
