<% client = @client || @client %>
<% context ||= client %>
<% collection ||= :contacts %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: contact do %>
  <tr data-id="<%= contact.id %>">
    <%= render "shared/tables/checkbox", object: contact %>
    <td><%= render 'shared/attributes/text', attribute: :first_name, url: [:account, contact] %></td>
    <td><%= render 'shared/attributes/text', attribute: :last_name %></td>
    <td><%= render 'shared/attributes/email', attribute: :email %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :department %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, contact %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, contact], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, contact %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, contact], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(contact)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
