<% yield p = np %>

<% divider ||= nil %>
<% no_background ||= false %>
<% title_size ||= nil %>
<% title_padding ||= nil %>
<% border_top ||= false %>
<% body = p.content_for(:body) || p.content_for(:raw_body) %>
<% pagy ||= nil %>

<div class="<%= "bg-white rounded-md shadow dark:bg-slate-700 dark:bg-opacity-50" unless no_background %> overflow-hidden <%= border_top ? "border-t dark:border-slate-500" : "" %>">
  <div class="py-6 px-8 <%= title_padding %> space-y-2 <%= 'border-b shadow-sm dark:border-slate-600' if divider %>">
    <% if p.content_for? :title %>
      <h2 class="text-xl font-semibold dark:text-white <%= title_size %>">
        <%= p.content_for :title %>
      </h2>
    <% end %>

    <% if p.content_for? :description %>
      <p class="text-slate-400 font-light leading-normal">
        <%= p.content_for :description %>
      </p>
    <% end %>
  </div>

  <div class="space-y-4">
    <% if p.content_for? :table %>
      <div class="box-table <%= divider ? 'mt-4' : '-mt-1' %> pb-0.5">
        <%= p.content_for :table %>
      </div>
    <% end %>

    <% if body %>
      <div class="<%= "pt-7 px-8 space-y-7 #{p.content_for?(:actions) ? 'pb-3' : 'pb-7'}" unless p.content_for?(:raw_body) %>">
        <div class="space-y-4 <%= '-mt-4' unless divider %>">
          <%= body %>
        </div>
      </div>
    <% end %>

    <% if p.content_for?(:actions) || pagy %>
      <div class="pb-7 px-8 space-y-7">
        <div class="sm:flex">
          <div class="flex-1 space-x">
            <%= p.content_for :actions %>
          </div>
          <% if pagy && pagy.pages > 1 %>
            <div class="flex-0 mt-3 sm:mt-0">
              <%== pagy_nav(pagy) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if p.content_for? :footer %>
    <div class="py-4 px-8 bg-slate-50 border-t dark:bg-slate-900 dark:border-slate-600">
      <%= p.content_for :footer %>
    </div>
  <% end %>

  <% if p.content_for? :raw_footer %>
    <div class="bg-slate-50 dark:bg-slate-900">
      <%= p.content_for :raw_footer %>
    </div>
  <% end %>
</div>
