<% pages = pages.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :pages %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, pages = pagy(pages, page_param: :pages_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless pages.any?}") %>
        <%= render "shared/limits/index", model: pages.model %>
      <% end %>

      <% box.table do %>
        <% if pages.any? %>
          <table class="table" data-controller="confirm-reorder">
            <thead>
              <tr>
                <!--<th class="w-6"></th>-->
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody data-controller="new-sortable" data-new-sortable-reorder-path-value="<%= url_for [:reorder, :account, context, collection] %>"
              data-action="new-sortable:drop->confirm-reorder#requestConfirmation"
              >
              <%= render partial: 'account/pages/page', collection: pages %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Page.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :page], class: "#{first_button_primary(:page)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if pages.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:page)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
