<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :pages %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: page do %>
  <tr data-id="<%= page.id %>">
    <%= render "shared/tables/checkbox", object: page %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, page] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, page %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, page], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, page %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, page], method: :delete, data: { turbo_confirm: t('.buttons.confirmations.destroy', model_locales(page)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
