<% users = users.accessible_by(current_ability) %>
<% application = @application || @application %>
<% context ||= application %>
<% collection ||= :users %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, users = pagy(users, page_param: :users_page) unless pagy %>

<%= action_model_select_controller do %>
  <% updates_for context, collection do %>
    <%= render 'shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless users.any?}") %>
        <%= render "shared/limits/index", model: users.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if users.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.email.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% users.each do |user| %>
                <%= render 'admin/users/user', user: user %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == application %>
            <% if can? :create, User.new(application: application) %>
              <%= link_to t('.buttons.new'), [:new, :admin, application, :user], class: "#{first_button_primary(:user)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:admin, context], class: "#{first_button_primary(:user)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
