<% invitation ||= @invitation %>
<% team ||= @team || invitation&.team %>
<%= render 'account/teams/breadcrumbs', team: team %>
<li class="breadcrumb-item">
  <%= breadcrumb_link_to t('memberships.breadcrumbs.label'), [:account, team, :memberships] %>
</li>
<li class="breadcrumb-item">
  <%= breadcrumb_link_to t('.label'), [:account, team, :invitations] %>
</li>
<% if invitation&.persisted? %>
  <li class="breadcrumb-item"><%= link_to invitation.name, [:account, invitation] %></li>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'invitations' %>
