<% @title = t(".join_team") %>
<div class="all-wrapper menu-side with-pattern">
  <div class="auth-box-w wider">
    <%= render 'devise/shared/logo' %>
    <h4 class="auth-header"><%= t(".join_team") %></h4>
    <form>
      <div class="row">
        <div class="col-sm-12">
          <% if !@invitation.is_for?(current_user) %>
            <div class="invitation-options">
              <p><%= raw t('.has_invited', user_name: @invitation.from_membership.name) %></p>
              <div class="alert alert-warning"><%= raw t('.alert', invitation_email: @invitation.email, user_email: current_user.email) %></div>
              <p><%= t('.you_can') %></p>
              <ul>
                <li>
                  <p><%= raw t('.accept_the_invitation', user_email: current_user.email) %></p>
                  <%= link_to t('.buttons.join_team'), accept_account_invitation_path(@invitation.uuid), method: :post, class: 'btn btn-primary' %>
                </li>
                <li>
                  <p><%= t('.sign_out') %></p>
                  <%= link_to t('.buttons.logout'), main_app.destroy_user_session_path, method: 'delete', class: 'btn btn-primary' %>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="buttons-w">
              <%= link_to t('.buttons.join_team'), accept_account_invitation_path(@invitation.uuid), method: :post, class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>
