<%= render 'account/shared/workflow/box' do |p| %>
  <% p.content_for :title, t(".join_team") %>
  <% p.content_for :body do %>
    <div class="space-y">
      <% if !@invitation.is_for?(current_user) %>
        <p><%= raw t('.has_invited', user_name: @invitation.from_membership.name) %></p>

        <%= render 'account/shared/alert' do %>
          <% # TODO this is a nice partials issue that needs resolving! %>
          <% # = raw t('.alert', invitation_email: @invitation.email, user_email: current_user.email) %>
          <%= raw t('account.invitations.show.alert', invitation_email: @invitation.email, user_email: current_user.email) %>
        <% end %>

        <p><%= t('.you_can') %></p>

        <div class="space-y-3 pb-1">
          <p><%= raw t('.accept_the_invitation', user_email: current_user.email) %></p>
          <%= link_to t('.buttons.join_team'), accept_account_invitation_path(@invitation.uuid), method: :post, class: 'button full' %>
        </div>

        <%= render 'account/shared/decision_line' %>

        <div class="space-y-3">
          <p><%= t('.sign_out') %></p>
          <%= link_to t('.buttons.logout'), main_app.destroy_user_session_path, method: 'delete', class: 'button-alternative full' %>
        </div>
      <% else %>
        <%= link_to t('.buttons.join_team'), accept_account_invitation_path(@invitation.uuid), method: :post, class: 'button full' %>
      <% end %>
    </div>
  <% end %>
<% end %>
