<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :platform_applications %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless applications.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if applications.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <th><%= t('.fields.scopes.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% applications.each do |application| %>
            <% with_attribute_settings object: application do %>
              <tr data-id="<%= application.id %>">
                <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, application] %></td>
                <td><%= render 'shared/attributes/text', attribute: :scopes %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= display_date_and_time(application.created_at) %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, application %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, application], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, application %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, application], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(application)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == team %>
        <% if can? :create, Platform::Application.new(team: team) %>
          <%= link_to t('.buttons.new'), [:new, :account, team, :platform_application], class: "#{first_button_primary(:platform_application)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:platform_application)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
