<% yield p = np %>

<% url ||= nil %>
<% strategy ||= current_attributes_strategy || :none %>

<% body = capture do %>
  <% if url.present? %>
    <% link_to url do %>
      <%= p.content_for :body %>
    <% end %>
  <% else %>
    <%= p.content_for :body %>
  <% end %>
<% end %>

<% case strategy %>
<% when :label %>
  <div>
    <label class="block text-2xs font-semibold py-2 dark:text-white">
      <%= p.content_for :heading %>
    </label>
    <div class="dark:text-gray-400">
      <%= body %>
    </div>
  </div>

<% else %>
  <%= body %>

<% end %>
