<% cancel_path ||= job.persisted? ? [:account, job] : [:account, @department, :jobs] %>

<%= form_with model: job, url: (job.persisted? ? [:account, job] : [:account, @department, :jobs]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      <%= render 'shared/fields/trix_editor', method: :description %>
      <%= render 'shared/fields/super_select', method: :quoted_by_id, options: {}, html_options: {},
        choices: @job.valid_quoted_bys.map { |membership| [membership.label_string, membership.id] } %>
      <%= render 'shared/fields/super_select', method: :project_manager_id, options: {}, html_options: {},
        choices: @job.valid_project_managers.map { |membership| [membership.label_string, membership.id] } %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
