<% department = @department || @department %>
<% context ||= department %>
<% collection ||= :jobs %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: job do %>
  <tr data-id="<%= job.id %>">
    <%= render "shared/tables/checkbox", object: job %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, job] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, job %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, job], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, job %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, job], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(job)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
