<% if content_for? :title %>
  <%= yield :title %>
<% elsif @title.present? %>
  <title><%= @title %> | <%= t('application.name') %></title>
<% else %>
  <title><%= t('application.name') %></title>
<% end %>

<meta charset="utf-8" />
<meta content="ie=edge" http-equiv="x-ua-compatible" />
<meta content="<%= t('application.keywords') %>" name="keywords" />
<meta content="<%= t('application.description') %>" name="description" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<meta name="mobile-web-app-capable" content="yes" />

<%= csrf_meta_tags %>

<meta name="turbo-cache-control" content="no-cache">

<% if cloudinary_enabled? %>
<script src="https://upload-widget.cloudinary.com/2.1.15/global/all.js" type="text/javascript"></script>
<% end %>

<meta name="intl_tel_input_utils_path" content="<%= asset_path("intl-tel-input-utils.js") %>">

<%= render 'magic_test/support' if Rails.env.test? %>

<%= capybara_lockstep if defined?(Capybara::Lockstep) %>

<% # TODO: Wrap this in a config or conditional? %>
<% # TODO: Move to the layout in core? %>
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="manifest" href="/manifest.json">

<% # put your application-specific additions below to avoid merge conflicts later. %>
