<!DOCTYPE html>

<% menu_position_classes = (@menu_position == 'top' ? 'menu-position-top' : 'menu-position-side menu-side-left') %>

<% unless @hide_menus %>

<% content_for :logged_user_info do %>
  <div class="avatar-w">
    <%= image_tag user_profile_photo_url(current_user), title: current_user.name %>
  </div>
  <div class="logged-user-info-w">
      <div class="logged-user-name"><%= current_user.full_name %></div>
      <% if current_team %>
        <div class="logged-user-role"><%= current_team.name %></div>
      <% end %>
  </div>
<% end %>

<% content_for :logged_user_menu do %>
  <div class="logged-user-menu color-style-bright">
    <div class="logged-user-avatar-info">
      <%= yield :logged_user_info %>
    </div>
    <div class="bg-icon"><i class="os-icon os-icon-wallet-loaded"></i></div>
    <ul>
      <li>
        <%= link_to main_app.edit_account_user_path(current_user.id) do %>
          <i class="icon-notebook"></i>
          <span><%= t('menus.main.labels.edit_account_details') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to main_app.account_user_api_keys_path(current_user.id) do %>
          <i class="icon-key"></i>
          <span><%= t('menus.main.labels.manage_api_keys') %></span>
        <% end %>
      </li>
      <% if current_user.multiple_teams? %>
      <li>
        <%= link_to main_app.account_teams_path do %>
          <i class="icon-shuffle"></i>
          <span><%= t('menus.main.labels.switch_teams') %></span>
        <% end %>
      </li>
      <% elsif show_sign_up_options? %>
      <li>
        <%= link_to main_app.new_account_team_path do %>
          <i class="icon-shuffle"></i>
          <span><%= t('menus.main.labels.add_new_team') %></span>
        <% end %>
      </li>
      <% end %>
      <li>
        <%= link_to main_app.destroy_user_session_path, method: 'delete' do %>
          <i class="icon-logout"></i>
          <span><%= t('menus.main.labels.logout') %></span>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>

<% end %>

<html>
  <head>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag 'account', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'developer', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <% @body_class ||= nil %>
  <body class="body-account <%= @body_class %> <%= menu_position_classes %>">
  <div class="all-wrapper solid-bg-all">
    <div class="layout-w">

      <% unless @hide_menus %>

      <div class="menu-mobile menu-activated-on-click color-scheme-dark">
        <div class="mm-logo-buttons-w">
          <%= link_to main_app.account_dashboard_path, class: 'mm-logo' do %>
            <%= image_tag image_path('logo/logo.png') %>
            <span><%= t('application.name') %></span>
          <% end %>
          <div class="mm-buttons">
            <div class="content-panel-open">
              <div class="os-icon os-icon-grid-circles"></div>
            </div>
            <div class="mobile-menu-trigger">
              <div class="os-icon os-icon-hamburger-menu-1"></div>
            </div>
          </div>
        </div>
        <div class="menu-and-user">
          <div class="logged-user-w">
            <%= yield :logged_user_info %>
          </div>
          <%= render 'layouts/account/menus/main_menu', mobile: true %>
        </div>
      </div>
      <div class="menu-w menu-has-selected-link selected-menu-color-light menu-activated-on-hover color-scheme-dark color-style-bright sub-menu-color-bright menu-position-side <%= menu_position_classes %> menu-layout-compact sub-menu-style-flyout">
        <div class="logo-w">
          <%= link_to main_app.account_dashboard_path, class: 'logo' do %>
            <%= image_tag image_path('logo/logo.png'), width: 26, height: 26 %>
            <div class="logo-label"><%= t('application.name') %></div>
          <% end %>
        </div>
        <div class="logged-user-w avatar-inline">
          <div class="logged-user-i">
            <%= yield :logged_user_info %>
            <div class="logged-user-toggler-arrow">
              <div class="os-icon os-icon-chevron-down"></div>
            </div>
            <%= yield :logged_user_menu %>
          </div>
        </div>
        <h1 class="menu-page-header">Page Header</h1>
        <%= render 'layouts/account/menus/main_menu' %>
      </div>

      <% end %>

      <div class="content-w">
        <%= breadcrumbs %>
        <div class="content-i">
          <div class="content-box">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal bt-modal chat-style-scrolling" id="modal-template" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
