<!DOCTYPE html>

<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="text-gray-700 text-sm font-base font-normal">

    <div class="h-screen md:p-5">
      <div class="overflow-hidden md:rounded-lg flex shadow">

        <!-- Static sidebar for desktop -->
        <div class="hidden bg-dark-blue-gradient lg:flex lg:flex-shrink-0 bg-gray-100">
          <div class="flex flex-col w-64">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex flex-col h-0 flex-1">
              <div class="flex-1 flex flex-col overflow-y-auto">

                <div class="flex items-center flex-shrink-0 p-4 bg-blue-darker md:rounded-tl-lg">
                  <%= image_tag image_path('logo/logo.png'), class: 'h-5 w-auto mx-auto' %>
                </div>

                <nav class="flex-1 space-y-1">
                  <div class="flex-shrink-0 flex shadow px-5 py-4">
                    <div class="flex-shrink-0 w-full group block no-underline">
                      <div class="flex items-center">
                        <div class="inline-block rounded-full border border-white p-1">
                          <%= image_tag membership_profile_photo_url(current_membership), class: 'h-9 w-9 rounded-full', alt: current_user.name %>
                        </div>
                        <div class="ml-3">
                          <div class="text-white">
                            <%= current_user.name %>
                          </div>
                          <div class="text-2xs tracking-widest uppercase text-blue-light group-hover:text-white">
                            <%= current_team.name %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="px-5 py-4">
                    <%= render 'account/shared/menu' %>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-0 flex-1 overflow-hidden bg-gray-100">
          <div class="lg:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
            <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Open sidebar</span>
              <!-- Heroicon name: menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
          <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">

            <!-- This example requires Tailwind CSS v2.0+ -->
            <nav class="flex px-6 py-3 shadow-sm" aria-label="Breadcrumb">
              <ol class="flex items-center space-x-3">
                <%= render('breadcrumbs').strip.html_safe %>
              </ol>
            </nav>

            <div class="py-2 px-1">
              <div class="mx-auto px-4 sm:px-6 py-4">
                <%= yield %>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
