<% endpoint = @endpoint || @endpoint %>
<% context ||= endpoint %>
<% collection ||= :deliveries %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description") %>
  <% end %>

  <% p.content_for :table do %>
    <% if deliveries.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('webhooks/outgoing/events.fields.short_uuid.heading') %></th>
            <th><%= t('webhooks/outgoing/events.fields.event_type_name.heading') %></th>
            <th><%= t('.fields.endpoint_url.heading') %></th>
            <th class="text-center"><%= t('.fields.delivered_at.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% deliveries.each do |delivery| %>
            <% with_attribute_settings object: delivery do %>
              <tr data-id="<%= delivery.id %>">
                <% with_attribute_settings object: delivery.event do %>
                  <td><%= render 'shared/attributes/code', attribute: :short_uuid,  url: [:account, delivery] %></td>
                  <td><%= render 'shared/attributes/code', attribute: :event_type_name %></td>
                <% end %>
                <td><%= render 'shared/attributes/code', attribute: :endpoint_url %></td>
                <td class="text-center"><%= render 'shared/attributes/attempt', attribute: :status, success_method: :delivered?, attempting_method: :still_attempting?, failure_method: :failed? %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :show, delivery %>
                      <%= link_to t('.buttons.shorthand.show'), [:account, delivery], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :edit, delivery %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, delivery], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, delivery %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, delivery], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(delivery)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == endpoint %>
        <% if can? :create, Webhooks::Outgoing::Delivery.new(endpoint: endpoint) %>
          <%= link_to t('.buttons.new'), [:new, :account, endpoint, :delivery], class: "#{first_button_primary(:delivery)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:delivery)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
